:root {
    background-color: #000000;
    font-size: large;
    color: #009000;
    text-shadow: 0 0 20px #009000;
    font-family: monospace;
}

input {
    background-color: #000000;
    text-shadow: 0 0 20px #009000;
    font-family: monospace;
    font-size: large;
    color: #009000;
    border: 1px solid #009000;
    box-shadow: 0 0 20px #009000;
    margin: 3px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.preformatted {
    font-family: monospace;
    white-space: pre;
}

#dialog {
    text-align: center;
    visibility: hidden;
    background: black;
    border: 2px solid #009000;
    height: 200px;
    box-shadow: 0 0 20px #009000;

    width: 600px;

    color: #009000;
    text-shadow: 0 0 20px #009000;
}

